<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="alert alert-danger d-flex flex-column justify-content-center align-items-center text-center col-6 offset-3 mt-5 py-5" role="alert" style="min-height: 250px;">
    <svg class="bi flex-shrink-0 mb-3" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
      <h1><%= err.message %></h1>
      <h4>Status Code: <%= err.statusCode %></h4>
    
    </div>
  </div>
</div>

